.gtk--section {
    padding-top: 40px;
    padding-bottom: 80px;
    .gtk-ic {
        margin-top: 60px;
    }
    .row-flex {
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        .gtk-content {
            max-width: 80%;
            padding-right: 50px;
        }
    }
    .gtk-content {
        .gtk-text {
            font-family: $base-font-light;
            padding-right: 50px;
            margin-top: 35px;
            h3 {
                line-height: normal;
                letter-spacing: -0.7px;
                font-size: 30px;
                margin-bottom: 20px;
                margin-top: 0;
            }
            p {
                line-height: 1.47;
                letter-spacing: normal;
                margin-bottom: 30px;
            }
        }
    }
    .section-title {
        color: $orange;
        font-family: $base-font-light;
        font-size: 40px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: -1.4px;
        border-bottom: 1px solid $orange;
        padding-bottom: 5px;
    }
    .badge-group {
        margin-left: -6px;
        .badge {
            display: inline-block;
            margin-left: 6px;
            margin-right: 6px;
            margin-bottom: 12px;
        }
    }
}