.habari-ss {
    .masthead {
        width: 100%;
        background-color: #000;
        color: #fff;
        overflow: hidden;
        position: relative;
        height: 100vh;
        .slick-track {
            position: relative;
            height: 100vh;
        }
        .slider-nav {
            .slick-track {
                height: 60px;
                margin-left: 0;
                margin-right: 0;
            }
        }
        .heroimagecontainer {
            background-color: transparent;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .slide-container {
            position: relative;
            height: 100%;
            .slide-content {
                position: absolute;
                top: 50%;
                left: 15px;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 80%;
                padding-top: 40px;
                .slide-title {
                    font-size: 65px;
                    font-family: $base-font-light;
                    line-height: 1;
                    color: $white;
                    letter-spacing: -2px;
                    max-width: 500px;
                }
                .badge {
                    margin-right: 15px;
                    font-size: 12px;
                    font-family: $base-font-medium;
                }
                .badge-group {
                    margin-top: 30px;
                    .badge {
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .call-to-action {
                    margin-top: 35px;
                }
            }
        }
        .mashhead-tw {
            position: absolute;
            bottom: 30px;
            left: 0;
            width: 100%;
            height: 60px;
            .slider-active-hr {
                height: 4px;
                background-color: $white;
                position: absolute;
                top: -1.5px;
                transform: translate3d(0,0,0);
                transition: transform 0.3s ease;
            }
            .slider-tn {
                border-top: 1px solid $white;
                height: 60px;
                position: relative;
                padding-right: 60px;
                .down-indicator {
                    position: absolute;
                    width: 60px;
                    top: 12px;
                    right: 0;
                    text-align: center;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .mouse-indicator {
                        transition: margin 0.3s ease;
                    }
                    &:hover {
                        opacity: 0.7;
                        .mouse-indicator {
                            margin-top: 5px;
                        }
                    }
                    &:before {
                        height: 80%;
                        content: "";
                        position: absolute;
                        width: 1px;
                        background-color: #fff;
                        left: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    img {
                        display: block;
                        margin: 0 auto;
                        width: 20px;
                    }
                }
                .slider-nav {
                    height: 60px;
                }
                .slide-item {
                    height: 60px;
                    &:focus {
                        outline: 0 none;
                    }
                    &:hover {
                        opacity: 1;
                    }
                    .nav-content {
                        height: 60px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                    .nav-text {
                        font-family: $base-font-medium;
                        font-size: 15px;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.33;
                        letter-spacing: -0.3px;
                    }
                    .nav-arrow {
                        position: absolute;
                        margin-top: -10px;
                        top: 50%;
                        left: 0;
                        opacity: 0;
                        visibility: hidden;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    &.slick-current {
                        opacity: 1;
                        .nav-arrow {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .slick-dots {
            bottom: 30px;
            text-align: left;
            left: 15px;
            li {
                margin: 0 5px 0 0;
            }
            button:before {
                color: rgba(255,255,255, 0.37);
                opacity: 1;
                font-size: 15px;
            }
            li.slick-active {
                button {
                    &:before {
                        color: rgba(255,255,255, 1);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .scrollIndicatorArrows {
        -webkit-animation: .5s 2.4s ease-out forwards fadeIn, .5s 2.4s ease-out forwards raiseIn;
        animation: .5s 2.4s ease-out forwards fadeIn, .5s 2.4s ease-out forwards raiseIn;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .scrollIndicatorArrows .Icon {
        -webkit-animation: pulse_alpha .5s ease-in-out infinite alternate;
        animation: pulse_alpha .5s ease-in-out infinite alternate
    }

    .scrollIndicatorArrows .Icon:last-child {
        -webkit-animation-delay: .5s;
        animation-delay: .5s
    }
    
}

@media (max-width: 767px) { 
    .mashhead-tw {
        display: none;
    }
    .habari-ss {
        .masthead {
            .slide-container {
                .slide-content {
                    width: calc(100% - 15px);
                    padding-right: 15px;
                    .slide-title {
                        width: auto;
                        font-size: 38px;
                    }
                    .badge-group {
                        margin-left: -6px;
                        .badge {
                            display: inline-block;
                            margin-left: 6px;
                            margin-right: 6px;
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
}