.grid-two {
    &.has-portrait-pic {
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            > div[class*="col-"] {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        .single-post {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .overlay-shadow {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 134px;
                transform: rotate(-360deg);
                opacity: 0.45;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 87%);
                z-index: 2;
            }
            .audio-flex {
                display: none;
            }
            .audio-flex {
                position: absolute;
                bottom: 30px;
                left: 0;
                padding: 0 30px;
                z-index: 3;
                width: 100%;
                color: $white;   
                .audio-pic {
                    margin-right: 10px;
                }
            }
            &.has-audio {
                .audio-flex {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-box-align: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                }
            }
            .post-image, .post-content {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
            .post-image {
                position: relative;
                // overflow: hidden;
                &:before {
                    content: "";
                    position: absolute;
                    top: 30px;
                    right: -18px;
                    z-index: 3;
                    height: 54px;
                    width: 26px;
                    background-image: url('./images/icons/indicator-l.svg');
                    background-repeat: no-repeat;
                    background-position: left center;
                }
                .bg-overlay {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 1;
                }
                
            }
            .post-content {
                background-color: #fff;
                padding: 30px 20px;
                .post-top-meta {
                    overflow: hidden;
                    margin-bottom: 30px;
                }
                .post-date {
                    float: left;
                    margin-right: 10px;
                    margin-top: 6px;
                    font-family: $base-font-medium;
                    font-size: 15px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.33;
                    letter-spacing: -0.3px;
                }
                .post-tags {
                    .badge {
                        font-size: 9px;
                        padding: 0 10px;
                        &.badge-btn {
                            height: 26px;
                            line-height: 26px;  
                        }
                    }
                }
                .post-meta {
                    margin-bottom: 20px;
                }
                .post-title {
                    font-size: 30px;
                    font-family: $base-font-light;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.7px;
                    color: $primary-text;
                    margin-bottom: 20px;
                }
                .post-excerpt {
                    font-family: $base-font;
                    font-size: 15px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.47;
                    letter-spacing: normal;
                }
            }
        }
    }
}
.grid-three {
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        > div[class*="col-"] {
            -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
}

.grid_landscape--post {
    .single-post {
        border-bottom: 6px solid $red;
        .post-image {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 30px;
                bottom: -18px;
                z-index: 3;
                height: 26px;
                width: 54px;
                background-image: url('./images/icons/indicator-t.svg');
                background-repeat: no-repeat;
                background-position: top center;
            }
        }
        .overlay-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 134px;
            transform: rotate(-180deg);
            opacity: 0.45;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 87%);
            z-index: 2;
        }
        .audio-flex {
            display: none;
        }
        .audio-flex {
            position: absolute;
            top: 30px;
            left: 0;
            padding: 0 30px;
            z-index: 3;
            width: 100%;
            color: $white;   
            .audio-pic {
                margin-right: 10px;
            }
        }
        &.has-audio {
            .audio-flex {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-align: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
        }
    }
    .post-content {
        background-color: #fff;
        padding: 30px 20px;
        .post-top-meta {
            overflow: hidden;
            margin-bottom: 30px;
        }
        .post-date {
            float: left;
            margin-right: 10px;
            margin-top: 6px;
            font-family: $base-font-medium;
            font-size: 15px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: -0.3px;
        }
        .post-tags {
            .badge {
                font-size: 9px;
                padding: 0 10px;
                &.badge-btn {
                    height: 26px;
                    line-height: 26px;  
                }
            }
        }
        .post-meta {
            margin-bottom: 20px;
        }
        .post-title {
            font-size: 30px;
            font-family: $base-font-light;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.7px;
            color: $primary-text;
            margin-bottom: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .post-excerpt {
            font-family: $base-font;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.47;
            letter-spacing: normal;
        }
    }
}