.pb-wrapper {
    .image-overlay {
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .pb-content {
        width: 100%;
        color: #fff;
    }
    .pb-title {
        font-size: 80px;
        font-family: $base-font-light;
        line-height: 1;
        color: $white;
        letter-spacing: -2px;
        margin-bottom: 30px;
    }
    .pb-excerpt {
        font-family: $base-font;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        margin-bottom: 30px;
    }
    position: relative;
    min-height: 750px;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.detail-page {
    .single-post {
        -webkit-box-shadow: 0 2px 9px 4px rgba(162, 162, 162, 0.23);
        -moz-box-shadow: 0 2px 9px 4px rgba(162, 162, 162, 0.23);
        box-shadow: 0 2px 9px 4px rgba(162, 162, 162, 0.23);
    }
    .post-area {
        .post-heading {
            h2 {
                font-family: $base-font-light;
                font-size: 50px;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: -1.4px;
                color: $secondary-text;
            }
            border-bottom: 1px solid $border-on-white;
        }
    }
}

.post-details {
    .post-card {
        position: relative;
        top: -124px;
        border-top: 5px solid $red;
        padding: 124px 0 82px;
        background-color: #fff;
        overflow: hidden;
    }
    .post-share-meta {
        width: 100px;
        margin: 0 auto;
        text-align: center;
        .image {
            display: block;
            overflow: hidden;
            width: 92px;
            height: 92px;
            border-radius: 92px;
            .avatar {
                width: 92px;
                height: 92px;
                object-fit: contain;
                border-radius: 100px;
                // border: solid 3px #eeeeee;
            }
        }
        .post-ss {
            width: 92px;
            margin: 0 auto;
            ul {
                list-style-type: none;
                padding-left: 0;
                margin-left: 0;
                li {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    a {
                        text-decoration: none;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        .posted-by {
            display: block;
            margin: 0 auto;
            width: 92px;
            .avatar-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: $base-font-bold;
                color: #5e6977;
                font-size: 14px;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.5;
                letter-spacing: normal;
            }
        }
    }
    .posts {
        &.has-post-share {
            padding-left: 150px;
            padding-right: 5%;
            .post-content {
                position: relative;
                padding-left: 178px;
                &.has-post-share {
                    min-height: 420px;
                    .description {
                        padding-left: 0;
                        > .row {
                            margin-left: 0;
                            > .col-md-9 {
                                padding-left: 0;
                            }
                        }
                    }
                }
                .post-share-meta {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                
                .description {
                    padding-left: 30px;
                    .hr-primary {
                        margin-left: 0;
                    }
                    p.txt-size-h {
                        font-family: $base-font;
                        font-size: 30px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 36px;
                        letter-spacing: normal;
                        color: #5e6977;
                    }
                    p, ul > li {
                        font-family: $base-font;
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.67;
                        letter-spacing: 0.16px;
                        color: $secondary-text;
                    }
                    ul {
                        > li {
                            margin-bottom: 0;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .post-mth-2 {
        .post-content {
            .row {
                > .col-md-8 {
                    padding-left: 100px;
                }
            }
            .description {
                p, ul > li {
                    font-family: $base-font;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: 0.16px;
                    color: $secondary-text;
                }
            }
        }
    }
    .content-highlighter {
        border-top: 1px solid $red;
        border-bottom: 1px solid $red;
        p {
            font-family: $base-font-light;
            font-size: 28px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: $red;
        }
    }
    blockquote {
        border-top: 1px solid $red;
        border-bottom: 1px solid $red;
        border-left: 0;
        font-family: $base-font-light;
        font-size: 35px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: $red;
        padding: 42px 52px;
    }
    .card-related-stores {
        border: 1px solid #ddd;
        padding: 30px;
        .card-title {
            font-size: 12px;
            font-family: $base-font-bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            color: $red;
            margin: 0;
            padding: 0;
        }
    }
    .post-story {
        h4 {
            font-size: 30px;
            font-family: $base-font-bold;
            line-height: normal;
            line-height: 2.2;
            letter-spacing: 1.44px;
            color: $black-shade;
        }
        h6 {
            font-size: 18px;
            font-family: $base-font-bold;
            line-height: 1.67;
            letter-spacing: 0.16px;
            color: $black-shade;
        }
        p {
            font-family: $base-font;
            font-size: 15px;
            line-height: 1.67;
            letter-spacing: 0.16px;
            color: $secondary-text;
            margin-bottom: 30px;
        }
    }
    .related-post-wrapper {
        .related-post {
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            
            .post-meta {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .excerpt {
                font-size: 15px;
                font-family: $base-font;
                font-stretch: normal;
                font-style: normal;
                line-height: 2;
                letter-spacing: 0.14px;
                margin-bottom: 0;
                color: #43484d;
            }
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                .post-meta {
                    margin-bottom: 0;
                }   
            }
        }
    }
}
.detail-page {
    .related-post {
        .post-heading {
            font-size: 70px;
        }
    }
}

.ip-banner-content {
    .pb-title {
        width: 85%;
    }
    .pb-excerpt {
        width: 51%;
    }
    .pb-title, 
    .pb-excerpt {
        margin-left: auto;
        margin-right: auto;
    }
    width: 100%;
    text-align: center;
    position: relative;
}