html, body {
    height: 100%;
}
body {
    background-color: $theme-bg;
    font-family: $base-font;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.page-wrapper {
    position: relative;
    min-height: 100%;
}

// custom, override & default css
.pointer {
    cursor: pointer;
}

// bgs
.bg-magenta {
    background-color: $magenta;
    color: $white;
}
.bg-white {
    background-color: $white;
}

// margins
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-70 {
    margin-top: 70px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-28 {
    margin-bottom: 28px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-38 {
    margin-bottom: 38px;
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-70 {
    margin-bottom: 70px;
}
// paddings
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pt-60 {
    padding-top: 60px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pl-30 {
    padding-left: 30px;
}
.pr-30 {
    padding-right: 30px;
}
.pl-52 {
    padding-left: 52px;
}
.pl-60 {
    padding-left: 60px;
}
.pr-60 {
    padding-right: 60px;
}
.hr-primary {
    border-color: $red;
}
.size-32 {
    width: 32px;
    border-width: 3px;
}
.size-21 {
    width: 21px;
    border-width: 3px;
}
.img-responsive-w100 {
    width: 100%;
}