// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
    .mb-sm-30 {
        margin-bottom: 30px;
    }
    .pb-sm-0 {
        padding-bottom: 0 !important;
    }
    .habari-ss .masthead .slick-dots {
        left: 0;
        text-align: center;
    }
    .grid-two.has-portrait-pic {
        .row {
            display: block;

            >div[class*=col-] {
                // max-width: 100%;
                &:first-child {
                    // padding-bottom: 30px;
                }
            }
        }

        .single-post {
            display: block;

            .post-image,
            .post-content {
                max-width: 100%;
            }

            .post-image {
                &:before {
                    left: 30px;
                    top: initial;
                    right: initial;
                    bottom: -18px;
                    z-index: 3;
                    height: 26px;
                    width: 54px;
                    background-image: url("./images/icons/indicator-t.svg");
                    background-position: top center;
                }
            }
        }
    }

    .grid-three .row {
        >div[class*=col-] {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .single-post {
        .img-responsive {
            width: 100%;
        }
    }

    .grid_landscape--post {
        .single-post {
            .post-image:before {
                left: 18px;
            }
        }
    }

    .pb-wrapper .pb-title {
        font-size: 38px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .pb-wrapper .pb-title {
        font-size: 80px;
    }
    .grid-two.has-portrait-pic .single-post {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .grid-three .row>div[class*=col-] {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .grid-two.has-portrait-pic {

        .single-post {
            

            .post-image {
                &:before {
                    top: 30px;
                    right: -18px;
                    left: initial;
                    bottom: initial;
                    height: 54px;
                    width: 26px;
                    background-image: url(./images/icons/indicator-l.svg);
                    background-position: left center;
                }
            }
        }
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .pb-wrapper .pb-title {
        font-size: 80px;
    }
    .grid-two.has-portrait-pic .single-post {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .grid-three .row>div[class*=col-] {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}


@media (max-width: 992px) {
    .open-mobi-nav {
        overflow: hidden;

        .mobi-nav-modal {
            transform: scaleY(1);
            opacity: 1;

            .overlay-mobi-modal {
                transform: scaleY(1);
                opacity: 1;
            }

            .modal-navigation {
                transform: translateY(0);
                opacity: 1;
            }
        }

    }

    .site-header {
        .header-iw {
            height: 71px;

            .menu-icon__m {
                display: block;
                margin-left: auto;
            }

            .logo {
                position: absolute;
                left: 50%;
                margin-left: -83px;
            }

            .primary-menu__d {
                display: none;
            }

            .search-container {
                position: absolute;
                left: 0;

                .search-icon {
                    margin-right: 0;
                }

                .search-habari {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .ip-banner-content {
        width: 100%;
        margin: 0 auto;
        position: relative;
        .pb-title, .pb-excerpt {
            width: 100%;
        }
    }
    .pt-30 {
        padding-top: 15px;
    }
    .pt-60 {
        padding-top: 30px;
    }
    .pb-30 {
        padding-bottom: 15px;
    }
    .pr-30 {
        padding-right: 15px;
    }
    .pl-30 {
        padding-left: 15px;
    }
    .mb-xs-30 {
        margin-bottom: 30px;
    }
    .pb-xs-0 {
        padding-bottom: 0;
    }
    .pl-xs-0 {
        padding-left: 0;
    }
    .plr-xs-15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .mt-70 {
        margin-top: 35px;
    }
    .mb-48,
    .mb-38 {
        margin-bottom: 24px;
    }
    .mb-70 {
        margin-bottom: 35px;
    }
    .mb-80 {
        margin-bottom: 40px;
    }

    .site-header {
        .header-iw {
            height: 71px;

            .logo {
                margin-left: -60px;

                img {
                    width: 120px;

                }
            }

            .primary-menu__d {
                display: none;
            }

            .search-container {
                position: absolute;
                left: 0;

                .search-icon {
                    margin-right: 0;
                }

                .search-habari {
                    display: none;
                }
            }
        }
    }
    
    .habari-ss .masthead .slick-dots {
        left: 0;
        text-align: center;
    }
    .gtk--section {
        .row-flex {
            display: block;
            .gtk-content {
                max-width: 100%;
                margin-bottom: 30px;
                padding-right: 0;
            }
        }
        .gtk-content {
            .gtk-text {
                padding-right: 0;
            }
        }
    }
    .site-footer {
        .footer_top--block {
            padding-top: 15px;
            padding-bottom: 15px;

            .logo {
                margin-bottom: 15px;

                .dark {
                    object-fit: contain;
                    width: 90px;
                    height: auto;
                }
            }
        }
    }
    
    .pb-wrapper {
        padding-top: 80px;
        padding-bottom: 90px;
        .pb-title {
            font-size: 38px;
        }
    }

    // Post
    .grid-two.has-portrait-pic {
        .row {
            display: block;

            >div[class*=col-] {
                max-width: 100%;
                &:first-child {
                    padding-bottom: 15px;
                }
            }
        }

        .single-post {
            display: block;

            .post-image,
            .post-content {
                max-width: 100%;
            }

            .post-image {
                &:before {
                    left: 30px;
                    top: initial;
                    right: initial;
                    bottom: -18px;
                    z-index: 3;
                    height: 26px;
                    width: 54px;
                    background-image: url("./images/icons/indicator-t.svg");
                    background-position: top center;
                }
            }
        }

    }

    .grid-three .row {
        >div[class*=col-] {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .single-post {
        .img-responsive {
            width: 100%;
        }
    }

    .grid_landscape--post {
        .single-post {
            .post-image:before {
                left: 18px;
            }
        }
    }

    // Post Detais
    .post-details {
        .post-card {
            padding: 60px 0 60px;
        }
        .posts {
            &.has-post-share {
                padding-left: 15px;
                padding-right: 15px;
                .post-content {
                    padding-left: 0;
                    .post-share-meta {
                        display: none;   
                    }
                    .description {
                        overflow: hidden;
                        padding-left: 0;
                        p.txt-size-h {
                            font-size: 20px;
                        }
                    }
                }
            }
        
        }
        .content-highlighter p {
            font-size: 22px;
        }
        .post-mth-2 {
            .post-content {
                .row {
                    >.col-md-8 {
                        padding-left: 15px;
                    }
                }
            }
        }
        blockquote {
            padding: 22px 32px;
        }
        .post-story h4 {
            line-height: normal;
            font-size: 28px;
        }
    }
    .detail-page .related-post .post-heading {
        font-size: 38px;
        line-height: normal;
    }
    // Post Detail banner
    .pb-wrapper .image-overlay {
        background-position: center center;
    }
}