
<!-- //
    include config.php
 -->
 <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="http://habari.pocs.tech/public/images/favicon.ico" type="image/x-icon" />
    <title>Habari</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="http://habari.pocs.tech/public/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page-wrapper">
    <div id="mobiNavModal" class="mobi-nav-modal">
    <div class="overlay-mobi-modal"></div>
    <div class="modal-navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Insight</a>
            </li>
            <li>
                <a href="#">Innovation</a>
            </li>
            <li>
                <a href="#">Inspiration</a>
            </li>
            <li>
                <a href="#">Life at Absa</a>
            </li>
            <li>
                <a href="#">Money</a>
            </li>
            <li>
                <a href="#">Career</a>
            </li>
        </ul>
    </div>
</div>
<header id="siteHeader" class="site-header">
    <div class="container">
        <div class="header-iw">
            <a class="logo" href="http://habari.pocs.tech">
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/logo/logo-white.png" srcset="http://habari.pocs.tech/public/images/logo/logo-white@2x.png 2x,
                http://habari.pocs.tech/public/images/logo/logo-white@3x.png 3x" class="white">
            </a>
            <nav class="primary-menu primary-menu__d">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Insight</a>
                    </li>
                    <li>
                        <a href="#">Innovation</a>
                    </li>
                    <li>
                        <a href="#">Inspiration</a>
                    </li>
                    <li>
                        <a href="#">Life at Absa</a>
                    </li>
                    <li>
                        <a href="#">Money</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </nav>
            <a class="search-container pointer" id="siteSearch">
                <img src="http://habari.pocs.tech/public/images/icons/search-icon.svg" class="search-icon">
                <span class="search-habari">Search Habari</span>
            </a>
            <div class="menu-icon__m pointer">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>
    </div>
</header>
        <main id="app" class="root">
            <!-- 
                PB - Page Banner
             -->
            <div class="detail-page has-pb-holder">
                <section class="pb-wrapper">
                    <div class="image-overlay" style="background-image: url('http://habari.pocs.tech/public/images/inner_banners/on-your-marks-pb.jpg')"></div>
                    <div class="pb-content text-center">
                        <div class="container">
                            <div class="ip-banner-content">
                                <h1 class="pb-title">On your marks,<br /> get set… rest!</h1>
                                <p class="pb-excerpt">Use these strategies to get the most out of your year-end break so you can go back to work feeling rejuvenated and ready to tackle the new year.</p>
                                <div class="tag-group">
                                    <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-details">
                    <div class="container">
                        <div class="post-card">
                            <div class="posts post-mth-1 has-post-share">
                                <div class="post-content">
                                    <div class="post-share-meta wow fadeInUp" data-wow-delay='600ms'>
                                        <div class="post-ss">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-twitter.svg"
                                                        class="iconut-di_twitter">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-linkedin.svg"
                                                        class="iconut-di_linkedin">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-facebook.svg"
                                                        class="iconut-di_facebook">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-cb-tr-envelope-small.svg"
                                                        class="iconcb-tr_envelope-small">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ill-te-printer.svg"
                                                        class="iconill-te_printer">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="posted-by">
                                            <!-- Avatar Image Size: 92w:92h -->
                                            <div class="image">
                                                <img src="http://habari.pocs.tech/public/images/image_content/avatar.jpg"
                                                     srcset="http://habari.pocs.tech/public/images/image_content/avatar@2x.jpg 2x,
                                                     http://habari.pocs.tech/public/images/image_content/avatar@3x.jpg 3x"
                                                     class="avatar" />
                                            </div>
                                            <div class="avatar-name text-uppercase">
                                                THANDI SKADE
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <p class="txt-size-h text-blurb mb-80">
                                                    The end of the year is finally upon us and like most working professionals, you’re probably breathing a major sigh of relief because you can almost taste the holidays, right? <br /><br />
                                                    While it’s time to let your hair out and recuperate, personal development coach Thembi Hama says the year-end break is also a time for reflection and setting new goals for the year ahead. She helps us unpack strategies to get the most out of your break in order to come back ready for the new year.
                                                </p>
                                                <hr class="hr-primary size-21 mb-28 mt-0" />
                                                <div class="post-story">
                                                    <h4 class="mb-0">Go On A Digital Detox</h4>
                                                    <p class="mb-48">For some, the thought of sending yourself into a period of self-imposed digital exile is likely already triggering the early stirrings of anxiety. But Hama says going off the “digital grid”, as it were, is a critical step in the process of regrouping for the year ahead. “The digital grid, or social media as we know it, tends to be distracting and can be depressing,” she says. It’s easy to buy into the social media hype and carefully curated worlds even though you know these are constructs that can often leave you feeling inadequate, unhappy and stressed out. Going on a digital detox will enable you to focus on the things that matter, like reviewing your goals (personal, professional and financial), exploring more ways to become financially independent, updating your CV or expanding your knowledge base through reading.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="magic-post-wrapper mb-70 mt-70">
                                <img src="../public/images/inner_banners/on-your-marks-inter-banner.jpg" alt="" class="img-responsive-w100">
                            </div>
                            <div class="posts post-mth-2">
                                <div class="post-content">
                                    <div class="post-p1 pb-0 pl-30 pr-30 plr-xs-15">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <div class="description">
                                                    <div class="post-story pl-52 story_1 pl-xs-0">
                                                        <h4 class="mb-10">Take Stock Of Your Goals</h4>
                                                        <div class="pic-holder mb-30">
                                                            <img src="../public/images/image_categories/image_grey.jpg" alt="" class="img-responsive-w100" />
                                                        </div>
                                                        <p class="mb-48">There's no better time than the end of the year to take stock of the year that was and to set new goals for yourself.</p>
                                                        <p class="mb-48">
                                                        "Review your goals and revisit your dreams by creating a bucket list of all the things you want to accomplish in life. This will provide a skeletal framework of the new year and give you an idea of how you will be utilising your time, energy and resources," says Hama.</p>
                                                        <p class="mb-48">
                                                        "It gives you something to think about during the holidays and you're able to map out a strategy without necessarily putting yourself under pressure."</p>
                                                        <h4 class="mb-0">It’s Declutter Time</h4>
                                                        <div class="pic-holder mb-30">
                                                            <img src="../public/images/image_categories/image_grey.jpg" alt="" class="img-responsive-w100" />
                                                        </div>
                                                        <p class="mb-48">Get rid of the clutter – literally and figuratively.  <br />
                                                        “Declutter your closet, clean your place or rearrange your furniture,” Hama says. <br />
                                                        Freeing yourself from clutter – in your life and physical spaces – will enable you to focus more clearly on your goals. “This will refresh your outlook and give you a feeling of starting anew.” </p>
                                                        <h4 class="mb-0">Don’t Forget About ‘Me Time’</h4>
                                                        <div class="pic-holder mb-30">
                                                            <img src="../public/images/image_categories/image_grey.jpg" alt="" class="img-responsive-w100" />
                                                        </div>
                                                        <p class="mb-48">Your busy schedule might not allow you to take that much-needed time out to do “me time” regularly, so the year-end break presents the perfect opportunity to find inner balance. “Have some ‘me time’ rituals to get in touch with yourself. These could be writing in your journal or reading previous entries, looking at old pictures or going through all the beautiful memories that filled you up with joy throughout the year. These rituals will remind you about what matters in your life and will also remind you that all the hard work you’ve put in has not been in vain, and that it really isn’t as bad as it may seem.” </p>
                                                        <h4 class="mb-0">Treat Yourself</h4>
                                                        <div class="pic-holder mb-30">
                                                            <img src="../public/images/image_categories/image_grey.jpg" alt="" class="img-responsive-w100" />
                                                        </div>
                                                        <p class="mb-48">Did someone say Spa Day? Go on. Treat yourself, because you deserve it! Do something that will make you happy or feel good, whether it’s getting a good ol’ pamper session or the latest must-have tech gadget. Also, use the break to relax. Take long, lazy afternoon naps and don’t be afraid to decline requests to do anything that will interfere with your relaxation plans. </p>
                                                        <blockquote>
                                                            “Say ‘no’ more often and ask for help. This will take the pressure off you and help you reset, rejuvenate and recharge.”
                                                        </blockquote>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 hidden-xs hidden-sm">
                                                <div id="widget_relatedStories" class="card-related-stores">
    <h5 class="card-title text-uppercase">Related Stories</h5>
    <div class="related-post-wrapper rel_post--list">
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places should ship in powdery, white sand.</p>
            </div>
        </div>
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places</p>
            </div>
        </div>
    </div>
</div>                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-area related-post post-grid pb-30 pt-30 bg-white">
                    <div class="container">
                        <h2 class="post-heading">In and around Habari</h2>
<article class="grid-three grid_landscape--post wow fadeIn">
    <div class="row">
        <div class="col-md-4 pt-30 pb-30 pb-sm-0 pb-xs-0 col-sm-12">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The power of connectivity</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30 pb-sm-0 pb-xs-0">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>                    </div>
                </section>
            </div>
        </main>


        <footer id="siteFooter" class="site-footer">
    <div class="container">
        <div class="footer_top--block">
            <a href="http://habari.pocs.tech" class="logo logo-black">
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/logo/logo-dark.png" srcset="http://habari.pocs.tech/public/images/logo/logo-dark@2x.png 2x,
        http://habari.pocs.tech/public/images/logo/logo-dark@3x.png 3x" class="dark">
            </a>
            <div class="copyright--content">
                &copy; copyright 2021. All rights reserved.
            </div>
        </div>
        <div class="footer_bottom--block">
            <div class="fb-iw">
                <span class="design-and-maintain">Designed and Maintained by</span>
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo.png" srcset="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@2x.png 2x,
                http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@3x.png 3x" class="apprentice-logo">
            </div>
        </div>
    </div>
</footer>        
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/script.js"></script>
    <script>
        (function($) {
            $(document).ready(function(){
                if($('.wow').length){
                    var wow = new WOW(
                    {
                        boxClass:     'wow',      // animated element css class (default is wow)
                        animateClass: 'animated', // animation css class (default is animated)
                        offset:       0,          // distance to the element when triggering the animation (default is 0)
                        mobile:       false,       // trigger animations on mobile devices (default is true)
                        live:         true       // act on asynchronously loaded content (default is true)
                    }
                    );
                    wow.init();
                }
                shiftHeroSlider();
                stickyFooter();
                toggleMobiMenu();
                postEqHeight();
                $(window).resize(function(){
                    shiftHeroSlider();
                    stickyFooter();
                    postEqHeight();
                })
            })
            
        })(jQuery);
    </script>
</body>

</html>