<section id="heroSlider" class="habari-ss">
    <div class="masthead">
      <div class="mashheadSlider">
        <div class="habari-slider">
          <!-- Slide: Image -->
          <div class="habari-slide">
            <div class="heroimagecontainer" style="background-image: url(/images/images_home/main-image.jpg);"></div>
            <div class="container slide-container" >
              <div class="slide-content">
                  <h1 class="slide-title">The history of money in Africa</h1>
                  <div class="badge-group">
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Insight</a>
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Money</a>
                  </div>
                  <div class="call-to-action">
                      <a href="#" class="btn btn-white-outline btn-22">Read more</a>
                  </div>
              </div>
            </div>
          </div>
          <!-- Slide: Image -->
          <div class="habari-slide">
            <div class="heroimagecontainer" style="background-image: url(/images/images_home/main-image.jpg);"></div>
            <div class="container slide-container" >
              <div class="slide-content">
                  <h1 class="slide-title">The power of connectivity</h1>
                  <div class="badge-group">
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Insight</a>
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Money</a>
                  </div>
                  <div class="call-to-action">
                      <a href="" class="btn btn-white-outline btn-22">Read more</a>
                  </div>
              </div>
            </div>
          </div>
          <!-- Slide: Image -->
          <div class="habari-slide">
            <div class="heroimagecontainer" style="background-image: url(/images/images_home/main-image.jpg);"></div>
            <div class="container slide-container" >
              <div class="slide-content">
                  <h1 class="slide-title">The Year of Return</h1>
                  <div class="badge-group">
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Insight</a>
                      <a href="#" class="badge badge-white badge-btn text-uppercase">Money</a>
                  </div>
                  <div class="call-to-action">
                      <a href="" class="btn btn-white-outline btn-22">Read more</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mashhead-tw">
            <div class="container">
              <span class="slider-active-hr"></span>
              <div class="slider-tn">
                  <div class="slider-nav">
                      <div class="slide-item pointer">
                          <div class="nav-content">
                              <div class="nav-arrow">
                                  <img src="/images/icons/up-arrow.svg" />
                              </div>
                              <div class="nav-text">The history of <br> money in Africa</div>
                          </div>
                      </div>
                      <div class="slide-item pointer">
                          <div class="nav-content">
                              <div class="nav-arrow">
                                  <img src="/images/icons/up-arrow.svg" />
                              </div>
                              <div class="nav-text">The power of <br> connectivity</div>
                          </div>
                      </div>
                      <div class="slide-item pointer">
                          <div class="nav-content">
                              <div class="nav-arrow">
                                  <img src="/images/icons/up-arrow.svg" />
                              </div>
                              <div class="nav-text">The Year of <br> Return</div>
                          </div>
                      </div>
                  </div>
                  <a id="scrollDown" class="down-indicator pointer">
                      <div class="mouse-indicator">
                          <div class="mouse-down"><img src="/images/icons/magic-mouse.svg" alt=""></div>
                          <div style="margin-top:8px;display:flex;flex-direction:column;" class="scrollIndicatorArrows" data-radium="true" data-reactid="151"><svg xmlns="http://www.w3.org/2000/svg" class="Icon" style="display:inline-block;fill:#fff;height:10px;line-height:1;vertical-align:middle;width:30px;" viewBox="0 0 32 32" aria-hidden="true" data-reactid="152"><path d="M28.8 6.2l-12.8 12.8-12.8-12.8-3.2 3.2 16 16.4 16-16.4z" data-reactid="153"></path></svg><svg xmlns="http://www.w3.org/2000/svg" class="Icon" style="display:inline-block;fill:#fff;height:10px;line-height:1;vertical-align:middle;width:30px;" viewBox="0 0 32 32" aria-hidden="true" data-reactid="154"><path d="M28.8 6.2l-12.8 12.8-12.8-12.8-3.2 3.2 16 16.4 16-16.4z" data-reactid="155"></path></svg></div>
                      </div>
                  </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
