
<!-- //
    include config.php
 -->
 <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="http://habari.pocs.tech/public/images/favicon.ico" type="image/x-icon" />
    <title>Habari</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="http://habari.pocs.tech/public/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page-wrapper">
    <div id="mobiNavModal" class="mobi-nav-modal">
    <div class="overlay-mobi-modal"></div>
    <div class="modal-navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Insight</a>
            </li>
            <li>
                <a href="#">Innovation</a>
            </li>
            <li>
                <a href="#">Inspiration</a>
            </li>
            <li>
                <a href="#">Life at Absa</a>
            </li>
            <li>
                <a href="#">Money</a>
            </li>
            <li>
                <a href="#">Career</a>
            </li>
        </ul>
    </div>
</div>
<header id="siteHeader" class="site-header">
    <div class="container">
        <div class="header-iw">
            <a class="logo" href="http://habari.pocs.tech">
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/logo/logo-white.png" srcset="http://habari.pocs.tech/public/images/logo/logo-white@2x.png 2x,
                http://habari.pocs.tech/public/images/logo/logo-white@3x.png 3x" class="white">
            </a>
            <nav class="primary-menu primary-menu__d">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Insight</a>
                    </li>
                    <li>
                        <a href="#">Innovation</a>
                    </li>
                    <li>
                        <a href="#">Inspiration</a>
                    </li>
                    <li>
                        <a href="#">Life at Absa</a>
                    </li>
                    <li>
                        <a href="#">Money</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </nav>
            <a class="search-container pointer" id="siteSearch">
                <img src="http://habari.pocs.tech/public/images/icons/search-icon.svg" class="search-icon">
                <span class="search-habari">Search Habari</span>
            </a>
            <div class="menu-icon__m pointer">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>
    </div>
</header>
        <main id="app" class="root">
            <!-- 
                PB - Page Banner
             -->
            <div class="detail-page has-pb-holder">
                <section class="pb-wrapper">
                    <div class="image-overlay" style="background-image: url('http://habari.pocs.tech/public/images/inner_banners/life-at-absa-pb.jpg')"></div>
                    <div class="pb-content text-center">
                        <div class="container">
                            <div class="ip-banner-content">
                                <h1 class="pb-title">Life At Absa: Everybody <br /> loves a winner </h1>
                                <p class="pb-excerpt">“Winning breeds winning,” once remarked the late John Robert Wooden, a man considered the greatest basketball head coach of all time. </p>
                                <div class="tag-group">
                                    <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-details">
                    <div class="container">
                        <div class="post-card">
                            <div class="posts post-mth-1 has-post-share">
                                <div class="post-content">
                                    <div class="post-share-meta wow fadeInUp" data-wow-delay='600ms'>
                                        <div class="post-ss">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-twitter.svg"
                                                        class="iconut-di_twitter">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-linkedin.svg"
                                                        class="iconut-di_linkedin">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-facebook.svg"
                                                        class="iconut-di_facebook">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-cb-tr-envelope-small.svg"
                                                        class="iconcb-tr_envelope-small">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ill-te-printer.svg"
                                                        class="iconill-te_printer">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="posted-by">
                                            <!-- Avatar Image Size: 92w:92h -->
                                            <div class="image">
                                                <img src="http://habari.pocs.tech/public/images/image_content/avatar.jpg"
                                                     srcset="http://habari.pocs.tech/public/images/image_content/avatar@2x.jpg 2x,
                                                     http://habari.pocs.tech/public/images/image_content/avatar@3x.jpg 3x"
                                                     class="avatar" />
                                            </div>
                                            <div class="avatar-name text-uppercase">
                                                THANDI SKADE
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <p class="txt-size-h text-blurb mb-80">
                                                    “Winning breeds winning,” once remarked the late John Robert Wooden, a man considered the greatest basketball head coach of all time. 
                                                </p>
                                                <hr class="hr-primary size-21 mb-28 mt-0" />
                                                <div class="post-story">
                                                    <h4 class="mb-0">The Transaction Awards</h4>
                                                    <div class="mb-48">
                                                        <p class="mb-0">In a show of force, Absa ruled the roost with wins in a number of categories at the Asian Banker Transaction Awards held in November. <br />
                                                        These awards are regarded as the most rigorous, prestigious and transparent annual awards and recognise leadership in cash management, trade finance, supply chain finance and payments among domestic and international financial institutions.<br />
                                                        We came out tops in the following categories:</p>
                                                        <ul>
                                                            <li>Best Transaction Bank by Country: Barclays Bank Botswana Limited</li>
                                                            <li>Best Cash Management Bank by Country: Barclays Bank Botswana Limited; Barclays Bank Tanzania Limited; and Barclays Bank Zambia Limited</li>
                                                            <li>Best Trade Finance Bank by Country: Barclays Bank Uganda Limited</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="magic-post-wrapper mb-70 mt-70">
                                <img src="../public/images/inner_banners/life-at-absa-inter_banner.jpg" alt="" class="img-responsive-w100">
                            </div>
                            <div class="posts post-mth-2">
                                <div class="post-content">
                                    <div class="post-p1 pb-0 pl-30 pr-30 plr-xs-15">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <div class="description">
                                                    <div class="post-story pl-52 story_1 pl-xs-0">
                                                        <h4 class="mt-0 mb-0">Finance African Banking Awards 2019</h4>
                                                        <p class="mb-48">In October, we demonstrated our capability to go to extraordinary lengths to overcome unique challenges – regardless of how intricate the deals may be – to bring about our clients’ possibilities and goals with our wins at the 12th EMEA Finance African Banking Awards 2019.</p>
                                                        <p class="mb-48">We won Best Investment Bank in Africa, Best Investment Bank in Botswana, South Africa, Tanzania and Zambia, Best Equity House in Mozambique, and Best Loan House in South Africa.</p>
                                                        <p class="mb-48">These awards recognise and celebrate the achievements of retail, corporate and investment banks, as well as their asset management and brokerage operations across the combined emerging Europe, Middle East, and Africa (EMEA) regions.</p>
                                                        <h4 class="mb-0">Ghana and Zambia</h4>

                                                        <p class="mb-48">At the 2019 Ghana Business Awards held in October, Barclays Bank Ghana, won the Bank of the Year gong, while the Managing Director, Abena Osei-Poku, was named Woman of Excellence of the Year: Private Sector.<br />
                                                        The Bank of the Year award is in recognition of the bank’s financial and non-financial achievements across a wide range of measures, including business sustainability, operational excellence, innovation and its overall strong performance, which continues to make it a leader in the banking sector.<br />
                                                        Abena’s award was also an acknowledgement of her exemplary leadership, which continues to drive high performance within the bank while also setting standards in corporate Ghana.</p>

                                                        <p class="mb-48">The Ghana Business Awards recognise and reward excellence across all sectors in Ghana. The prestigious awards provide a platform to recognise individuals and companies that play a significant role in the growth and development of their business sector.</p>

                                                        <p class="mb-48">Also, in October, Barclays Bank Zambia Plc was named the 2019 Best Retail Bank and Best Corporate Bank by International Business Magazine. The magazine also named Barclays Zambia’s Managing Director, Mizinga Melu, Zambia's Banking CEO of the Year.</p>
                                                        <h4 class="mb-0">JSE Spire Awards</h4>
                                                        <p class="mb-48">At the 18th JSE Spire Awards ceremony held in Johannesburg in October, we were judged the Overall Best Research House. These awards serve as a benchmark for Fixed Income, Foreign Exchange and Research as they recognise and celebrate achievements, as voted for by our clients.</p>
                                                        <p class="mb-48">We were also placed first in the following categories: Best Repo Team; Best Market Making Team: FX Options; Best Research Team (Africa); Best Research Team (Economics); and Best Research Team (Fixed Income).</p>
                                                        <h4 class="mb-0">Africa Orange Index Awards</h4>
                                                        <p class="mb-48">In November, Absa Insurance was ranked the Top Short Term Insurer in SA in the 2019 Ask Africa Orange Index Awards, the country’s premier service excellence benchmark. The Ask Afrika Orange Index is the largest, most long-standing and broadest customer satisfaction benchmark available in the South African landscape.</p>
                                                        <p class="mb-48">The measurement is a large endeavour that not only produces a benchmark to companies (enabling them to compare their service within their own industry and across other industries), but also gives extensive insight into the consumer trends in South Africa. Absa Insurance won the Ask Afrika Orange Index award for service excellence in the short-term industry, and third place winner across various industries.</p>
                                                        <h4 class="mb-0">Global recognition</h4>
                                                        <p class="mb-48">In September, Absa Group came out leading the pack at the 2019 Euromoney Cash Management Survey. Our Barclays Bank of Ghana and Barclays Bank of Zambia teams were each ranked overall winners for the Market Leader Award. Barclays Ghana further scooped the award for Best Service Overall.</p> 

                                                        <p class="mb-48">The Euromoney Cash Management Survey recognises the leading providers of cash management products and services. The results are based on responses received from leading cash managers, treasurers and financial officers worldwide. The poll is considered the benchmark survey for the global cash management industry. This year they collected more than 25 000 valid responses.</p>

                                                        <p class="mb-48">Global Finance also released the rankings for its 19th annual Best Treasury and Cash Management Banks and Providers. Moreover, Barclays Bank Mauritius was awarded the Best Treasury & Cash Management Bank 2019 in Mauritius.<br />
                                                        For the eighth consecutive year, Absa won Best Corporate for Investor Relations in South Africa across all sectors in the prestigious Extel survey, the leading global ranking for the investment industry, announced in June. Alan Hartdegen, our Head of Investor Relations, was voted South Africa’s Best Investor Relations Professional for the seventh consecutive year.</p>

                                                        <p class="mb-48">“This again reflects the work of many colleagues who attend investor conferences, present to the market, meet with analysts and investors, and provide all the information required, including producing our results announcements and integrated report,” said Alan.</p>

                                                        <p class="mb-48">In March, Absa Bank was named the Best M&A Bank in Africa when Global Finance announced the World’s Best Investment Banks 2019, a clear demonstration of the continued momentum we are building in corporate finance/M&A.<br /> 
                                                        This award came after some notable recent landmark M&A transactions by the Absa Banking Advisory team. It followed our sterling work on a number of deals and our role as sole adviser on the sale of Teraco, and 9Mobile (EMTS, Nigeria) to Teleology, as well as advising YeboYethu’s participation in Vodacom’s BEE transaction. Such recognition enhances our leadership ambition in M&A within the African TMT sector.</p>

                                                        <p class="mb-48">Making a bold statement of intent quite early in the year, Absa Wealth Management won several first places in the prestigious Euromoney Private Banking and Wealth Management Survey 2019, in February.<br />
                                                        More than 2 000 private bankers from 737 institutions took part in the 2019 Euromoney private banking survey, which ranks private banks and wealth management businesses across different categories. Now in its 16th year, the survey is considered the industry’s leading barometer of the world’s best service and product providers to the world’s wealthy.</p>

                                                        <p class="mb-0">2020 is about building and adding to this by continuing to provide the best for our customers.</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 hidden-xs hidden-sm">
                                                <div id="widget_relatedStories" class="card-related-stores">
    <h5 class="card-title text-uppercase">Related Stories</h5>
    <div class="related-post-wrapper rel_post--list">
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places should ship in powdery, white sand.</p>
            </div>
        </div>
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places</p>
            </div>
        </div>
    </div>
</div>                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-area related-post post-grid pb-30 pt-30 bg-white">
                    <div class="container">
                        <h2 class="post-heading">In and around Habari</h2>
<article class="grid-three grid_landscape--post wow fadeIn">
    <div class="row">
        <div class="col-md-4 pt-30 pb-30 pb-sm-0 pb-xs-0 col-sm-12">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The power of connectivity</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30 pb-sm-0 pb-xs-0">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>                    </div>
                </section>
            </div>
        </main>


        <footer id="siteFooter" class="site-footer">
    <div class="container">
        <div class="footer_top--block">
            <a href="http://habari.pocs.tech" class="logo logo-black">
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/logo/logo-dark.png" srcset="http://habari.pocs.tech/public/images/logo/logo-dark@2x.png 2x,
        http://habari.pocs.tech/public/images/logo/logo-dark@3x.png 3x" class="dark">
            </a>
            <div class="copyright--content">
                &copy; copyright 2021. All rights reserved.
            </div>
        </div>
        <div class="footer_bottom--block">
            <div class="fb-iw">
                <span class="design-and-maintain">Designed and Maintained by</span>
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo.png" srcset="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@2x.png 2x,
                http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@3x.png 3x" class="apprentice-logo">
            </div>
        </div>
    </div>
</footer>        
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/script.js"></script>
    <script>
        (function($) {
            $(document).ready(function(){
                if($('.wow').length){
                    var wow = new WOW(
                    {
                        boxClass:     'wow',      // animated element css class (default is wow)
                        animateClass: 'animated', // animation css class (default is animated)
                        offset:       0,          // distance to the element when triggering the animation (default is 0)
                        mobile:       false,       // trigger animations on mobile devices (default is true)
                        live:         true       // act on asynchronously loaded content (default is true)
                    }
                    );
                    wow.init();
                }
                shiftHeroSlider();
                stickyFooter();
                toggleMobiMenu();
                postEqHeight();
                $(window).resize(function(){
                    shiftHeroSlider();
                    stickyFooter();
                    postEqHeight();
                })
            })
            
        })(jQuery);
    </script>
</body>

</html>