
<!-- //
    include config.php
 -->
 <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Habari</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  
</head>

<body>
    <div class="page-wrapper">
    <div id="mobiNavModal" class="mobi-nav-modal">
    <div class="overlay-mobi-modal"></div>
    <div class="modal-navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Insight</a>
            </li>
            <li>
                <a href="#">Innovation</a>
            </li>
            <li>
                <a href="#">Inspiration</a>
            </li>
            <li>
                <a href="#">Life at Absa</a>
            </li>
            <li>
                <a href="#">Money</a>
            </li>
            <li>
                <a href="#">Career</a>
            </li>
        </ul>
    </div>
</div>
<header id="siteHeader" class="site-header">
    <div class="container">
        <div class="header-iw">
            <a class="logo" href="http://habari.pocs.tech">
                <!-- png -->
                <img src="/images/logo/logo-white.png" class="white">
            </a>
            <nav class="primary-menu primary-menu__d">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Insight</a>
                    </li>
                    <li>
                        <a href="#">Innovation</a>
                    </li>
                    <li>
                        <a href="#">Inspiration</a>
                    </li>
                    <li>
                        <a href="#">Life at Absa</a>
                    </li>
                    <li>
                        <a href="#">Money</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </nav>
            <a class="search-container pointer" id="siteSearch">
                <img src="/images/icons/search-icon.svg" class="search-icon">
                <span class="search-habari">Search Habari</span>
            </a>
            <div class="menu-icon__m pointer">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>
    </div>
</header>
        <main id="app" class="root">
            <!-- 
                PB - Page Banner
             -->
            <div class="detail-page has-pb-holder">
                <section class="pb-wrapper">
                    <div class="image-overlay" style="background-image: url('http://habari.pocs.tech/public/images/image_content/pb_image_1.jpg')"></div>
                    <div class="pb-content text-center">
                        <div class="container">
                            <div class="ip-banner-content">
                                <h1 class="pb-title">The power of <br />connectivity</h1>
                                <p class="pb-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="tag-group">
                                    <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-details">
                    <div class="container">
                        <div class="post-card">
                            <div class="posts post-mth-1 has-post-share">
                                <div class="post-content">
                                    <div class="post-share-meta wow fadeInUp" data-wow-delay='600ms'>
                                        <div class="post-ss">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-twitter.svg"
                                                        class="iconut-di_twitter">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-linkedin.svg"
                                                        class="iconut-di_linkedin">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-facebook.svg"
                                                        class="iconut-di_facebook">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-cb-tr-envelope-small.svg"
                                                        class="iconcb-tr_envelope-small">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ill-te-printer.svg"
                                                        class="iconill-te_printer">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="posted-by">
                                            <!-- Avatar Image Size: 92w:92h -->
                                            <div class="image">
                                                <img src="http://habari.pocs.tech/public/images/image_content/avatar.jpg"
                                                    srcset="http://habari.pocs.tech/public/images/image_content/avatar@2x.jpg 2x,
                                                    http://habari.pocs.tech/public/images/image_content/avatar@3x.jpg 3x"
                                                    class="avatar">
                                            </div>
                                            <div class="avatar-name text-uppercase">
                                                KOJO BAFFOE
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <p class="txt-size-h text-blurb mb-80">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                                                </p>
                                                <hr class="hr-primary size-21 mb-28 mt-0" />
                                                <p class="mb-48">Need inspiration of where to spend your winnings? Here's a guide to one of our favourite UpAllNight cities – the effortlessly hip Barcelona.</p>
                                                <p class="mb-48">Ready for some sun? Great food? Cheap cava? Spanish beaus? Yeah? Well you better book your flights to Barcelona, pronto. We’re calling it the city that has it all, because, well, it really does. From sandy beaches to creative architecture, cosmopolitan culture, slick boutique hotels, great shopping, and up-and-coming neighbourhoods, the Catalan city is the ultimate city break. Whether you’re squeezing it in to a weekend or tagging it on to a longer trip, there’s plenty to explore. Here’s our edit of the best bits to fit into 24 hours.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="magic-post-wrapper mb-70 mt-70">
                                <img src="http://habari.pocs.tech/public/images/image_content/image-big-1.jpg" alt="" class="img-responsive-w100">
                            </div>
                            <div class="posts post-mth-2">
                                <div class="post-content">
                                    <div class="post-p1 pb-60 pl-30 pr-30 plr-xs-15">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <div class="description">
                                                    <blockquote class="mb-48">As it’s too early to hit the cava, let’s hit the shops! El Raval is one of the most diverse areas of town, with old architecture, a cosmopolitan crowd, and great bars and shops.</blockquote>
                                                    <div class="post-story pl-52 story_1 pl-xs-0">
                                                        <h4 class="mb-0">The Islander Dress</h4>
                                                        <h6 class="mt-0 mb-38">Satin, rounded neck, sleeveless, removable belt at the waist, full skirt, slit detail on the back, invisible back zip fastening.</h6>
                                                        <p class="mb-0">Bacon questioned the Aristotelian concepts of formal cause and final cause, and promoted the idea that science should study the laws of "simple" natures, such as heat, rather than assuming that there is any specific nature, or "formal cause", of each complex type of thing. This new modern science began to see itself as describing "laws of nature".  This updated approach to studies in nature was seen as mechanistic. Bacon also argued that science should aim for the first time at practical inventions for the improvement of all human life.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 hidden-xs hidden-sm">
                                                <div id="widget_relatedStories" class="card-related-stores">
    <h5 class="card-title text-uppercase">Related Stories</h5>
    <div class="related-post-wrapper rel_post--list">
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places should ship in powdery, white sand.</p>
            </div>
        </div>
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places</p>
            </div>
        </div>
    </div>
</div>                                            </div>
                                        </div>
                                    </div>

                                    <div class="magic-post-wrapper pl-30 pr-30">
                                        <div class="row">
                                            <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                <img src="http://habari.pocs.tech/public/images/image_content/pic_r_1.png" alt="" class="img-responsive-w100" />
                                            </div>
                                            <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                <img src="http://habari.pocs.tech/public/images/image_content/pic_r_2.png" alt="" class="img-responsive-w100" />
                                            </div>
                                            <div class="col-md-4">
                                                <img src="http://habari.pocs.tech/public/images/image_content/pic_r_3.png" alt="" class="img-responsive-w100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-p2 pt-60 pl-30 pr-30 pb-xs-0">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="description pl-30 pl-xs-0">
                                                    <div class="post-story pl-30 story_2 pl-xs-0">
                                                        <h4 class="extra-bold mt-0">El Raval</h4>
                                                        <p>If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places should ship in powdery, white sand. Okay, Barcelona’s sandy shores might not be completely natural, but who cares? It’s easily one of the city’s biggest draws, so make the most of it. Take a dip before kicking back with a cocktail at one of the plentiful beach bars. And don’t miss out on taking a leisurely walk along the promenade — you’ll quickly forget you’re just two hours from home.</p>
                                                        <p class="mb-0">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places should ship in powdery, white sand. Okay, Barcelona’s sandy shores might not be completely natural, but who cares? It’s easily one of the city’s biggest draws, so make the most of it. Take a dip before kicking back with a cocktail at one of the plentiful beach bars. And don’t miss out on taking a leisurely walk along the promenade — you’ll quickly forget you’re just two hours from home.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-area related-post post-grid pb-30 pt-30 bg-white">
                    <div class="container">
                        <h2 class="post-heading">In and around Habari</h2>
<article class="grid-three grid_landscape--post wow fadeIn">
    <div class="row">
        <div class="col-md-4 pt-30 pb-30 pb-sm-0 pb-xs-0 col-sm-12">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The power of connectivity</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30 pb-sm-0 pb-xs-0">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>                    </div>
                </section>
            </div>
        </main>


        <footer id="siteFooter" class="site-footer">
    <div class="container">
        <div class="footer_top--block">
            <a href="http://habari.pocs.tech" class="logo logo-black">
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/logo/logo-dark.png" srcset="http://habari.pocs.tech/public/images/logo/logo-dark@2x.png 2x,
        http://habari.pocs.tech/public/images/logo/logo-dark@3x.png 3x" class="dark">
            </a>
            <div class="copyright--content">
                &copy; copyright 2021. All rights reserved.
            </div>
        </div>
        <div class="footer_bottom--block">
            <div class="fb-iw">
                <span class="design-and-maintain">Designed and Maintained by</span>
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo.png" srcset="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@2x.png 2x,
                http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@3x.png 3x" class="apprentice-logo">
            </div>
        </div>
    </div>
</footer>        
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/script.js"></script>
    <script>
        (function($) {
            $(document).ready(function(){
                if($('.wow').length){
                    var wow = new WOW(
                    {
                        boxClass:     'wow',      // animated element css class (default is wow)
                        animateClass: 'animated', // animation css class (default is animated)
                        offset:       0,          // distance to the element when triggering the animation (default is 0)
                        mobile:       false,       // trigger animations on mobile devices (default is true)
                        live:         true       // act on asynchronously loaded content (default is true)
                    }
                    );
                    wow.init();
                }
                shiftHeroSlider();
                stickyFooter();
                toggleMobiMenu();
                postEqHeight()
                $(window).resize(function(){
                    shiftHeroSlider();
                    stickyFooter();
                    postEqHeight()
                })
            })
            
        })(jQuery);
    </script>
</body>

</html>