
<!-- //
    include config.php
 -->
 <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="http://habari.pocs.tech/public/images/favicon.ico" type="image/x-icon" />
    <title>Habari</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="http://habari.pocs.tech/public/style.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page-wrapper">
    <div id="mobiNavModal" class="mobi-nav-modal">
    <div class="overlay-mobi-modal"></div>
    <div class="modal-navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Insight</a>
            </li>
            <li>
                <a href="#">Innovation</a>
            </li>
            <li>
                <a href="#">Inspiration</a>
            </li>
            <li>
                <a href="#">Life at Absa</a>
            </li>
            <li>
                <a href="#">Money</a>
            </li>
            <li>
                <a href="#">Career</a>
            </li>
        </ul>
    </div>
</div>
<header id="siteHeader" class="site-header">
    <div class="container">
        <div class="header-iw">
            <a class="logo" href="http://habari.pocs.tech">
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/logo/logo-white.png" srcset="http://habari.pocs.tech/public/images/logo/logo-white@2x.png 2x,
                http://habari.pocs.tech/public/images/logo/logo-white@3x.png 3x" class="white">
            </a>
            <nav class="primary-menu primary-menu__d">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Insight</a>
                    </li>
                    <li>
                        <a href="#">Innovation</a>
                    </li>
                    <li>
                        <a href="#">Inspiration</a>
                    </li>
                    <li>
                        <a href="#">Life at Absa</a>
                    </li>
                    <li>
                        <a href="#">Money</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </nav>
            <a class="search-container pointer" id="siteSearch">
                <img src="http://habari.pocs.tech/public/images/icons/search-icon.svg" class="search-icon">
                <span class="search-habari">Search Habari</span>
            </a>
            <div class="menu-icon__m pointer">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>
    </div>
</header>
        <main id="app" class="root">
            <!-- 
                PB - Page Banner
             -->
            <div class="detail-page has-pb-holder">
                <section class="pb-wrapper">
                    <div class="image-overlay" style="background-image: url('http://habari.pocs.tech/public/images/image_content/pb_image_1.jpg')"></div>
                    <div class="pb-content text-center">
                        <div class="container">
                            <div class="ip-banner-content">
                                <h1 class="pb-title">The year of <br />return</h1>
                                <p class="pb-excerpt">With Ghana's Year of Return drawing to an end, there are still many reasons to visit the country. We take a look at some of the highlights of 2019 as well as the exciting events that will be taking place in Ghana this month.</p>
                                <div class="tag-group">
                                    <a href="#" class="badge badge-white badge-btn text-uppercase">Innovation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-details">
                    <div class="container">
                        <div class="post-card">
                            <div class="posts post-mth-1 has-post-share">
                                <div class="post-content">
                                    <div class="post-share-meta wow fadeInUp" data-wow-delay='600ms'>
                                        <div class="post-ss">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-twitter.svg"
                                                        class="iconut-di_twitter">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-linkedin.svg"
                                                        class="iconut-di_linkedin">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ut-di-facebook.svg"
                                                        class="iconut-di_facebook">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-cb-tr-envelope-small.svg"
                                                        class="iconcb-tr_envelope-small">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <!-- svg -->
                                                        <img src="http://habari.pocs.tech/public/images/icons/icon-ill-te-printer.svg"
                                                        class="iconill-te_printer">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="posted-by">
                                            <!-- Avatar Image Size: 92w:92h -->
                                            <div class="image">
                                                <img src="http://habari.pocs.tech/public/images/image_content/avatar.jpg"
                                                    srcset="http://habari.pocs.tech/public/images/image_content/avatar@2x.jpg 2x,
                                                    http://habari.pocs.tech/public/images/image_content/avatar@3x.jpg 3x"
                                                    class="avatar">
                                            </div>
                                            <div class="avatar-name text-uppercase">
                                                KOJO BAFFOE
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <p class="txt-size-h text-blurb mb-80">
                                                With Ghana's Year of Return drawing to an end, there are still many reasons to visit the country. We take a look at some of the highlights of 2019 as well as the exciting events that will be taking place in Ghana this month. 
                                                </p>
                                                <hr class="hr-primary size-21 mb-28 mt-0" />
                                                <p class="mb-48">On March 6th, 1957, the day of Ghana's independence from Britain's colonial rule, President Kwame Nkrumah, in his famous Independence Day speech, said: “Our independence is meaningless unless it is linked up with the total liberation of the African continent.” </p>
                                                <p class="mb-48">Fast-forward to September 2018: current President of Ghana, Nana Akufo-Addo declared and launched the “Year of Return, Ghana 2019”. Four hundred years after the first slave ships reached American shores, the Year of Return is part of a drive to unite Africans on the continent and in the diaspora, with Ghana positioning itself as a gateway for those in the diaspora to return.  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="magic-post-wrapper mb-70 mt-70">
                                <img src="http://habari.pocs.tech/public/images/image_content/image-big-1.jpg" alt="" class="img-responsive-w100">
                            </div>
                            <div class="posts post-mth-2">
                                <div class="post-content">
                                    <div class="post-p1 pb-60 pl-30 pr-30 plr-xs-15">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <div class="description">
                                                    <div class="post-story pl-52 story_1 pl-xs-0">
                                                        <div class="mb-0">
                                                            <p class="mb-48">At the launch, President Akufo-Addo said, “Under my leadership, Ghana will continue to ensure that our hard-won Pan-African reputation is not lost. Making Ghana the focus of activities to commemorate the landing of the first enslaved Africans in the English colonies in North America is, therefore, a huge opportunity to entrench Ghana's leadership.”</p>
                                                            <p class="mb-0">December will see the culmination of a series of events that have been running throughout the year, such as:</p>
                                                            <ul>
                                                                <li>The Pan African Historical Festival, including wreath-laying and tributes to Pan-African pioneers, masquerade competitions, opening of museums, a Strong Man Muscle Building competition, a colloquium, interfaith dialogues, theatre performances and music concerts; </li>
                                                                <li>The Du Bois-Padmore-Nkrumah Lecture Series under the theme: “Pan Africanism, Reflections on Resistance; Dignity in the Face of Atrocity”. Speakers included Chairman of the Aya Centre Dr Michael Williams, Deputy Minister of Tourism, Arts and Culture Dr Ziblim Bari Iddi, Director of Diaspora Affairs: Office of the President Mr Akwasi Awua Ababio, and WEB Du Bois Centre Director Reverend Reuben Kwasi Kwadzofio; </li>
                                                                <li>The Global African Diaspora Kumasi Carnival, with groups visiting from, among other places, the Netherlands; </li>
                                                                <li>The Ghana World Music Festival from 2-4 August which featured musicians such as Deborah Cox, Samini, Ernie Smith, Third World, Kojo Antwi; and </li>
                                                                <li>The Youth in Tourism Festival (YOTOFEST), under the theme “My Culture, My Pride”. </li>
                                                                <li>The 2019 ACCES (Music in Africa Conference for Collaboration, Exchange and Showcases) took place from 28-30 November and involved workshops, panel discussions, performances, exhibitions and a music festival. Speakers and performers included Efya, Samini, Akon, Sarkodie and Claude Grunitzky, among others. </li>
                                                                <li class="mb-0">The Kids in Tourism Funfair ran from 29-30 November and was an opportunity to play and learn about arts and culture from the different regions of Ghana. There were events such as sport, fashion, music and games for and by the children of Ghana. </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 hidden-xs hidden-sm">
                                                <div id="widget_relatedStories" class="card-related-stores">
    <h5 class="card-title text-uppercase">Related Stories</h5>
    <div class="related-post-wrapper rel_post--list">
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places should ship in powdery, white sand.</p>
            </div>
        </div>
        <div class="related-post">
            <div class="post-image">
                <img src="http://habari.pocs.tech/public/images/image_content/rel_post_1.jpg" alt="" class="img-responsive-w100"/>
            </div>
            <div class="post-meta">
                <p class="excerpt">If it meant that all cities had beaches as beautiful as Barcelona’s, we think more places</p>
            </div>
        </div>
    </div>
</div>                                            </div>
                                        </div>
                                    </div>

                                    <div class="magic-post-wrapper pl-30 pr-30">
                                        <div class="row">
                                            <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                <img src="http://habari.pocs.tech/public/images/image_content/pic_r_1.png" alt="" class="img-responsive-w100" />
                                            </div>
                                            <div class="col-md-4 mb-sm-30 mb-xs-30">
                                                <img src="http://habari.pocs.tech/public/images/image_content/pic_r_2.png" alt="" class="img-responsive-w100" />
                                            </div>
                                            <div class="col-md-4">
                                                <img src="http://habari.pocs.tech/public/images/image_content/pic_r_3.png" alt="" class="img-responsive-w100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-p2 pt-60 pl-30 pr-30 pb-xs-0">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="description pl-30 pl-xs-0">
                                                    <div class="post-story pl-30 story_2 pl-xs-0">
                                                        <p class="mb-48">If you're looking to experience the best that the country has to offer, this December is the ideal time to visit Ghana. From music festivals and art exhibitions to children's festivals and business events, as well as different tours to places like Elmina and Cape Coast, Ghana is already a hive of energy with something happening every week from now right into 2020. </p>
                                                        <div class="mb-48">
                                                            <p class="mb-0">Here are some of the key events, under the Year of Return banner and other initiatives, to look forward to. </p>
                                                            <ul>
                                                                <li>KIDDAFEST 2019 is the International Children's Arts and Cultural Festival with music, dance, theatre and other art endeavours as well as stalls with everything from food and books to gifts. It takes place from 12-14 December. </li>
                                                                <li>The Disapora from Local to Foreign Art Exhibition will take place on 5 December. </li>
                                                                <li>The second annual Ghana Tech Summit 2019 brings together speakers, influencers, entrepreneurs, creatives and investors to explore technology, innovation and development in Ghana. It runs from 13-14 December. </li>
                                                                <li>Also taking place on 13 December will be the Africa Future Summit (Ghana), which seeks to “accelerate development with Africa's tech ecosystem”. </li>
                                                                <li>The Ghana Writers' Conference 2019, in line with Year of Return, will explore the status of the African writer 400 years after the Transatlantic Slave Trade started. The theme is: “Dream, A Talk with the Afro-World”. The conference will host discussions, readings and the Kwame Nkrumah Writers' Workshop. </li>

                                                                <li>PinexGinja, happening on 24 December, finds the common ground between Jamaican and Ghanaian cultures in a tropical-themed party featuring music and performances. </li>
                                                                <li>The Year of Return Ball is a night of food, culture, music (live and by celebrity DJs) and networking on 28 December. </li>
                                                                <li>Accra Under The Stars is a pop-up dinner bringing together the diaspora for food and dance on 29 December. </li>
                                                                <li>The Afro Nation Festival on Laboma Beach, taking place from 27-30 December, brings together world-renowned musicians such as Davido, Olamide, Shatta Wale, 6BLACK, Stonebwoy, Naira Marley, Burna Boy, D'Banj, Olamide, R2BEES, and many others. </li>
                                                                <li>The Afro Future Carnival, which happens on 31 December, is a Carribean-inspired carnival with parades, fashion, food and drink. </li>
                                                                <li>The This Is New Africa (TINA) Festival goes beyond music by including dialogues and community service on its programme. It culminates with a concert featuring, among others, Fuse ODG, on 3 January 2020. </li>
                                                                <li>In its third year, Afrochella has grown from strength to strength, celebrating culture through music, food, art and fashion, and connecting Ghanaian millennials and the African diaspora at large. For the Year of Return, Afrochella has a variety of activities running from 20 December to 5 January, such as the V For Vanity Neon Light Show, under the theme, “Telling a Story of Yesterday, Today and Tomorrow”; the Ghana Music Beyond Borders discussion; Afrochella Feeds, which will provide over 500 meals from The Afro Food Truck; the Afrochella Festival on 28 December; Afrochella Reads where they will be renovating and repainting a school for orphans; the PAR New Year's Eve Party; and the themed dinner and dance evening, African Royalty Night. Afrochella is also hosting tours through Accra and beyond to share the history and culture of Ghana. </li>
                                                            </ul>
                                                        </div>
                                                        <p class="mb-0">Ghana this December is going to be epic with more than enough to fill your days. Pull out your calendar and pen and start planning. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="post-area related-post post-grid pb-30 pt-30 bg-white">
                    <div class="container">
                        <h2 class="post-heading">In and around Habari</h2>
<article class="grid-three grid_landscape--post wow fadeIn">
    <div class="row">
        <div class="col-md-4 pt-30 pb-30 pb-sm-0 pb-xs-0 col-sm-12">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The power of connectivity</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30 pb-sm-0 pb-xs-0">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pt-30 pb-30">
            <div class="single-post has-audio">
                <!-- 
                    for good result put image of dimension: 409w : 256h
                -->
                <div class="post-image">
                    <img src="http://habari.pocs.tech/public/images/posts/pic_landscape.jpg" alt="" class="img-responsive-w100" />
                    <div class="audio-flex">
                        <div class="audio-pic">
                            <img src="http://habari.pocs.tech/public/images/icons/headphones.svg" alt="" />
                        </div>
                        <div class="audio-text">This story has audio</div>
                    </div>
                    <div class="overlay-shadow"></div>
                </div>
                <div class="post-content">
                    <div class="post-top-meta">
                        <div class="post-date">11/10/19</div>
                        <div class="post-tags">
                            <a href="#" class="badge badge-primary-outline badge-btn text-uppercase badge-22">Innovation</a>
                        </div>
                    </div>
                    <div class="post-meta">
                        <h4 class="post-title">The Year of the Return</h4>
                        <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="post-action">
                        <a href="#" class="btn btn-primary-outline btn-22">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>                    </div>
                </section>
            </div>
        </main>


        <footer id="siteFooter" class="site-footer">
    <div class="container">
        <div class="footer_top--block">
            <a href="http://habari.pocs.tech" class="logo logo-black">
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/logo/logo-dark.png" srcset="http://habari.pocs.tech/public/images/logo/logo-dark@2x.png 2x,
        http://habari.pocs.tech/public/images/logo/logo-dark@3x.png 3x" class="dark">
            </a>
            <div class="copyright--content">
                &copy; copyright 2021. All rights reserved.
            </div>
        </div>
        <div class="footer_bottom--block">
            <div class="fb-iw">
                <span class="design-and-maintain">Designed and Maintained by</span>
                <!-- png -->
                <img src="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo.png" srcset="http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@2x.png 2x,
                http://habari.pocs.tech/public/images/apprentice-logo/apprentice-logo@3x.png 3x" class="apprentice-logo">
            </div>
        </div>
    </div>
</footer>        
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://habari.pocs.tech/public/libs/jquery-1124/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://habari.pocs.tech/public/libs/bootstrap-v341/js/bootstrap.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/wow/wow.min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/match-height/jquery.matchHeight-min.js"></script>
    <script src="http://habari.pocs.tech/public/libs/script.js"></script>
    <script>
        (function($) {
            $(document).ready(function(){
                if($('.wow').length){
                    var wow = new WOW(
                    {
                        boxClass:     'wow',      // animated element css class (default is wow)
                        animateClass: 'animated', // animation css class (default is animated)
                        offset:       0,          // distance to the element when triggering the animation (default is 0)
                        mobile:       false,       // trigger animations on mobile devices (default is true)
                        live:         true       // act on asynchronously loaded content (default is true)
                    }
                    );
                    wow.init();
                }
                shiftHeroSlider();
                stickyFooter();
                toggleMobiMenu();
                postEqHeight();
                $(window).resize(function(){
                    shiftHeroSlider();
                    stickyFooter();
                    postEqHeight();
                })
            })
            
        })(jQuery);
    </script>
</body>

</html>