.badge {
    &.badge-btn {
        padding: 14px 30px 10px;
        line-height: normal;
        border-radius: 17.5px;  
        position: relative;
        overflow: hidden; 
    }
    &.badge-white {
        background-color: $white;
        color: $secondary-text;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        &:hover, &:focus {
            text-decoration: none;
            color: $secondary-text;
            background-color: rgba($white, 0.7);
        }
    }
    &.badge-primary-outline {
        background-color: transparent;
        border:1px solid rgba($red, 0.28);
        color: rgba($red, 0.51);
        font-family: $base-font-medium;
        // &:hover, &:focus {
        //     text-decoration: none;
        //     background-color: $red;
        //     border:1px solid $red;
        //     color: $white;
        // }
        &.badge-22 {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                opacity: 1;
                -webkit-transform: translate(-105%,0);
                -moz-transform: translate(-105%,0);
                transform: translate(-105%,0);
                border-right-width: 1px;
                border-right-style: solid;
                border-right-color: rgba($red,1);
                background-color: rgba($red,0.25);
            }
            &:hover {
                color: $red;
                &::before {
                    opacity: 0;
                    -webkit-transform: translate(0,0);
                    -moz-transform: translate(0,0);
                    transform: translate(0,0);
                }
            }
        }
    }
}