.btn {
    border-radius: 8px;
    font-size: 17px;
    font-family: $base-font-medium;
    padding: 5px 20px;
    position: relative;
    overflow: hidden;
    &.btn-white-outline {
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
        &.btn-22 {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                opacity: 1;
                -webkit-transform: translate(-105%,0);
                transform: translate(-105%,0);
                border-right-width: 1px;
                border-right-style: solid;
                border-right-color: rgba(255,255,255,1);
                background-color: rgba(255,255,255,0.25);
            }
            &:hover {
                &::before {
                    opacity: 0;
                    -webkit-transform: translate(0,0);
                    transform: translate(0,0);
                }
            }
        }
    }
    &.btn-primary-outline {
        background-color: transparent;
        border: 2px solid $orange;
        color: $orange;
        // &:hover, &:focus {
        //     background-color: $orange;
        //     color: $white;
        // }
        &.btn-22 {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                opacity: 1;
                -webkit-transform: translate(-105%,0);
                transform: translate(-105%,0);
                border-right-width: 1px;
                border-right-style: solid;
                border-right-color: rgba($orange,1);
                background-color: rgba($orange,0.75);
            }
            &:hover {
                &::before {
                    opacity: 0;
                    -webkit-transform: translate(0,0);
                    transform: translate(0,0);
                }
            }
        }
    }
    
}