.site-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $light-grey;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .footer_top--block {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: $white;
        overflow: hidden;
        .logo {
            display: inline-block;
            margin-bottom: 20px;
            .dark {
                object-fit: contain;
                width: 119px;
                height: 50px;
            }
        }
        .copyright--content {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $black-shade;
        }
    }
    .footer_bottom--block {
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 15px;
        .fb-iw {
            margin-left: auto;
        }
        .design-and-maintain {
            margin-right: 10px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: $black-shade;
        }
        .apprentice-logo {
            width: 59px;
            height: 45px;
            object-fit: contain;
        }
    }
}