.site-header {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.45;
        transform: rotate(-180deg);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $night 87%);
    }
    .header-iw {
        position: relative;
        z-index: 2;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid $white;
        .logo {
            margin-right: auto;
        }
        .search-container {
            color: $white;
            text-decoration: none;
            margin-left: auto;
            .search-icon {
                width: 21px;
                height: 21px;
                object-fit: contain;
                margin-right: 5px;
            }
            .search-habari {
                display: inline-block;
                margin-top: 5px;
                font-size: 16px;
                font-family: $base-font-light;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }
        }
        .menu-icon__m {
            display: none;
            .menu-icon__line {
                height: 2px;
                width: 22px;
                display: block;
                background-color: #ffffff;
                margin-bottom: 4px;
                -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
                transition: background-color .5s ease, -webkit-transform .2s ease;
                -o-transition: transform .2s ease, background-color .5s ease;
                transition: transform .2s ease, background-color .5s ease;
                transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
                &.menu-icon__line-left {
                    width: 11px;
                }
                &.menu-icon__line-right {
                    width: 11px;
                    position: absolute;
                    right: 2px;
                }
            }
        }
    }
    .primary-menu {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-nav {
        > li {
            > a {
                color: $white;
                font-size: 16px;
                font-family: $base-font-medium;
                text-align: center;
                color: #ffffff;
                padding: 60px 20px;
                &:hover, &:focus, &:active {
                    background-color: transparent;
                    opacity: 0.7
                }
            }
        }
    }
}