.mobi-nav-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    .overlay-mobi-modal {
        background-color: rgba(0,0,0,0.45);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }
    .modal-navigation {
        width: 75vw;
        background-color: #fff;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        opacity: 0;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        overflow-y: auto;
        overflow: hidden;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        transform: translateX(200%);
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        .navbar-nav {
            margin: 0;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .nav {  
            > li {
                > a {
                    line-height: normal;
                    padding: 12px 16px;
                    color: $primary-text;
                    font-size: 18px;
                    font-family: $base-font-medium;
                }
            }
        }
    }
}