$white: #ffffff;
$night: #000000; 
$light-grey: #f2f2f2;
$orange: #ff780f;
$magenta: #640032;
$red: #dc0032;
$primary-text: #2d2323;
$secondary-text: #736464;
$black-shade: #31363d;
$border-on-white: #d8d8d8;