@-webkit-keyframes pulse_alpha {
    0% {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

@keyframes pulse_alpha {
    0% {
        opacity: .3
    }

    to {
        opacity: 1
    }
}