@font-face {
    font-family: "BraveSans-Light";
    src: url("./fonts/braveSans/woff2/BraveSansWeb-Light.woff2") format("woff2"),
         url("/fonts/braveSans/woff/BraveSansWeb-Light.woff") format("woff"),
         url("/fonts/braveSans/ttf/BraveSans-Light.ttf") format("truetype"),
         url("/fonts/braveSans/otf/BraveSans-Light.otf") format("opentype");
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
@font-face {
    font-family: "BraveSans";
    src: url("./fonts/braveSans/woff2/BraveSansWeb-Regular.woff2") format("woff2"),
         url("/fonts/braveSans/woff/BraveSansWeb-Regular.woff") format("woff"),
         url("/fonts/braveSans/ttf/BraveSans-Regular.ttf") format("truetype"),
         url("/fonts/braveSans/otf/BraveSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
@font-face {
    font-family: "BraveSans-Medium";
    src: url("./fonts/braveSans/woff2/BraveSansWeb-Medium.woff2") format("woff2"),
         url("/fonts/braveSans/woff/BraveSansWeb-Medium.woff") format("woff"),
         url("/fonts/braveSans/ttf/BraveSans-Medium.ttf") format("truetype"),
         url("/fonts/braveSans/otf/BraveSans-Medium.otf") format("opentype");
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
@font-face {
    font-family: "BraveSans-Bold";
    src: url("./fonts/braveSans/woff2/BraveSansWeb-Bold.woff2") format("woff2"),
         url("/fonts/braveSans/woff/BraveSansWeb-Bold.woff") format("woff"),
         url("/fonts/braveSans/ttf/BraveSans-Bold.ttf") format("truetype"),
         url("/fonts/braveSans/otf/BraveSans-Bold.otf") format("opentype");
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
@font-face {
    font-family: "BraveSans-ExtraBold";
    src: url("./fonts/braveSans/woff2/BraveSansWeb-ExtraBold.woff2") format("woff2"),
         url("/fonts/braveSans/woff/BraveSansWeb-ExtraBold.woff") format("woff"),
         url("/fonts/braveSans/ttf/BraveSans-ExtraBold.ttf") format("truetype"),
         url("/fonts/braveSans/otf/BraveSans-ExtraBold.otf") format("opentype");
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}