// themes
// 300
$base-font-light: 'BraveSans-Light', Arial, sans-serif;
// 400
$base-font: 'BraveSans', Arial, sans-serif;
// 500
$base-font-medium: 'BraveSans-Medium', Arial, sans-serif;
// 700
$base-font-bold: 'BraveSans-Bold', Arial, sans-serif;
// 800
$base-font-extrabold: 'BraveSans-ExtraBold', Arial, sans-serif;
$theme-bg: $light-grey;